@use '../../styles/utilities.scss' as *;

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -$commonPadding;

  form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

    input,
    button {
      margin: 0.625rem;
      outline: none;
      border: 0.0625rem solid;
      padding: 0.625rem 1.25rem;
    }

    button {
      cursor: pointer;
      background-color: $mainColor;
      color: white;
    }

    span {
      display: block;
      margin: 0.625rem;
      text-align: center;
      padding: 0.625rem 1.25rem;
      color: red !important;
      text-transform: capitalize;
    }
  }
}
