// main colors
$mainColor: #6439ff;
$gray: gray;
$whitesmoke: whitesmoke;
$white: #fff;
$dark: #333;
$green: green;
$red: red;
$goldenrod: goldenrod;
$mainTransition: 0.3s ease-in;
$commonPadding: 0.75rem 1.2rem;

// sidebar
$sidebarBorder: none;
$sidebarHoverColor: #ece8ff;
$sidebarIconColor: #7451f8;

// navbar
$navbarBorder: none;

// query
$mobile: 767px;
$mid: 991px;
