@use '../../styles/utilities.scss' as *;

.notFound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: -$commonPadding;
}
